.todo-input-container, .todo-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 10px 20px;
  background-color: white;
  border-radius: 8px;
}
#todoInput {
  width: 95%;
  padding: 10px;
  font-size: 16px;
}
